<mat-divider></mat-divider>

<footer class="footer">
  <div class="footer-content">
    
    <div class="brand">
      <h3>Hiring Toll</h3>
      <p>Prepare. Practice. Get Hired.</p>
    </div>

    <div class="links" *ngFor="let section of footerSections">
      <h4>{{ section.title }}</h4>
      <a 
        *ngFor="let link of section.links" 
        (click)="navigateTo(link.path)"
        class="footer-link">
        {{ link.label }}
      </a>
    </div>

  </div>

  <div class="copyright">
    © 2026 Hiring Toll. All rights reserved.
  </div>
</footer>
